@charset "UTF-8";
#container{
	display: flex;
}
.im{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3%;
}
.ta{
	margin: auto 0%;
	margin-right: 10%;
}
#sub{
	width: 100%;
    margin-top: 15%;
}
.tc{
/* 	border: 1px solid #ccc; */
}
.tc td{
	border: 1px solid #ccc;
}
.tcn{
	border: 0px;
}