@charset "UTF-8";
.concla{
	width: 100%;
}
.con1{
	width: fit-content;
    margin: auto;
}
.wrap {
	margin-top: 30px;
    margin-left: 70px;
}

#procedureRegist,#cancel {
	border-radius: 4px;
    padding: 10px;
}
.hm{
	margin-bottom: 5%;	
}