@charset "UTF-8";
.co1{
	float: none; 
	color: black;
}
.sub{
	border-radius: 4px;
    padding: 5px;
}
.plist{
	color: black;
	border: 1px solid #333;
	width: 30%;
}
.plist th, td{
	border: 1px solid #333;
}
.p1{
	width: 90%;
}